IF OBJECT_ID('tempdb..##CODEMPRESA') IS NOT NULL DROP TABLE ##CODEMPRESA
IF OBJECT_ID('tempdb..##CODDEPARA') IS NOT NULL DROP TABLE ##CODDEPARA
IF OBJECT_ID('tempdb..##CARGA_GERAL') IS NOT NULL DROP TABLE ##CARGA_GERAL
IF OBJECT_ID('tempdb..##FXDIAL_TEL') IS NOT NULL DROP TABLE ##FXDIAL_TEL
IF OBJECT_ID('tempdb..##DIAL') IS NOT NULL DROP TABLE ##DIAL


SELECT DISTINCT CODEMPRESA INTO ##CODEMPRESA FROM ADCOBDAT..VW_CARTEIRACOBRANCA WITH (NOLOCK)

SELECT CODEMPRESA, NOMEMPRESA INTO ##CODDEPARA FROM ADCOBDAT..AD002
WHERE CODEMPRESA IN ('41001',
'61001',
'46001',
'46002',
'46003',
'46004',
'46005',
'46006',
'25020',
'5001',
'5001',
'67001',
'57001',
'57002',
'72001',
'73001',
'70001',
'70002',
'70003',
'75001',
'28010',
'71001',
'71002',
'53001',
'53005',
'53006',
'53007',
'53008',
'53009',
'53010',
'53011',
'53012',
'53013',
'66001',
'66002',
'6001',
'6006',
'6010',
'53002',
'53003',
'59001',
'3001',
'3002',
'3003',
'3010')


SELECT
A.CODEMPRESA,
A.NUMCONTRDIV

INTO ##CARGA_GERAL 
FROM ADCOBDAT..VW_CARTEIRACOBRANCA A WITH (NOLOCK) /*PEGA A CARGA DO DIA*/
INNER JOIN ##CODDEPARA B ON A.CODEMPRESA = B.CODEMPRESA
WHERE A.CODEMPRESA = B.CODEMPRESA /*SELECIONAR A CARTEIRA*/

/*SUBQUERYS DE CÁLCULO*/

SELECT DISTINCT
A.NUMCONTRDIV,
A.CODEMPRESA AS EMPRESA,
b.NOMEMPRESA as DESCRICAO_EMPRESA,
COUNT(TEL.NUMTELCOBR) AS Quantidade_Telefone

,CASE
	WHEN LEN(TEL.NUMTELCOBR) <11 THEN 'CELULAR' ELSE 'FIXO' END AS Tipo_TEL
	into ##FXDIAL_TEL
FROM ADCOBDAT..CO090 TEL
INNER JOIN ##CARGA_GERAL A ON TEL.NUMCONTRDIV = A.NUMCONTRDIV 
INNER JOIN ##CODDEPARA B ON A.CODEMPRESA = B.CODEMPRESA 
WHERE A.CODEMPRESA = B.CODEMPRESA
GROUP BY A.NUMCONTRDIV, B.NOMEMPRESA, CASE
	WHEN LEN(TEL.NUMTELCOBR) <11 THEN 'CELULAR' ELSE 'FIXO' END,A.CODEMPRESA
ORDER BY Quantidade_Telefone ASC

select 
EMPRESA,
Tipo_TEL,
DESCRICAO_EMPRESA,
CASE 
	WHEN Quantidade_Telefone = 1 THEN 'DIAL 1'
	WHEN Quantidade_Telefone = 2 THEN 'DIAL 2'
	WHEN Quantidade_Telefone = 3 THEN 'DIAL 3'
	WHEN Quantidade_Telefone = 4 THEN 'DIAL 4' 
	WHEN Quantidade_Telefone = 5 THEN 'DIAL 5' 
	WHEN Quantidade_Telefone = 6 THEN 'DIAL 6' 
	WHEN Quantidade_Telefone = 7 THEN 'DIAL 7' 
	WHEN Quantidade_Telefone = 8 THEN 'DIAL 8' 
	WHEN Quantidade_Telefone = 9 THEN 'DIAL 9' 
	WHEN Quantidade_Telefone > 9 THEN 'DIAL >9' 
	END AS DIAL
	INTO ##DIAL
	from ##FXDIAL_TEL WITH (NOLOCK)

	SELECT
	EMPRESA,
	DESCRICAO_EMPRESA,
	Tipo_TEL,
	DIAL,
	COUNT(DIAL) AS QUANTIDADE

	FROM ##DIAL WITH (NOLOCK)

	GROUP BY 
	EMPRESA,
	DESCRICAO_EMPRESA,
	Tipo_TEL,
	DIAL
	ORDER BY DIAL ASC
