
IF OBJECT_ID('tempdb..##DISC_GERAL') IS NOT NULL DROP TABLE ##DISC_GERAL
DECLARE @BASE DATE
SET @BASE = '2020-08-01'
SELECT
CUSTOMERID AS EC,
DNIS AS TELEFONE,
[ROUTE] AS TIPO_DE_CHAMADA,
CALLSTART AS INICIO,
CALLEND AS FIM,
DISPOSITIONID AS ID_TABULACAO,
CASE WHEN DispositionId = 	'0'	THEN	'AGENT'
WHEN  DispositionID = 	'1'	THEN	'Busy'
WHEN  DispositionID = 	'2'	THEN	'NoAnswer'
WHEN  DispositionID = 	'3'	THEN	'Announcement'
WHEN  DispositionID = 	'4'	THEN	'HangUp'
WHEN  DispositionID = 	'5'	THEN	'BadLine'
WHEN  DispositionID = 	'6'	THEN	'BadNumber'
WHEN  DispositionID = 	'7'	THEN	'CancelDial'
WHEN  DispositionID = 	'8'	THEN	'CarrierMessage'
WHEN  DispositionID = 	'9'	THEN	'DeniedCall'
WHEN  DispositionID = 	'10'	THEN	'AgentDisconnected'
WHEN  DispositionID = 	'11'	THEN	'InternalCongestion'
WHEN  DispositionID = 	'12'	THEN	'ExternalCongestion'
WHEN  DispositionID = 	'13'	THEN	'AbortCustomerOnQueue'
WHEN  DispositionID = 	'14'	THEN	'QueueMaximumTime'
WHEN  DispositionID = 	'15'	THEN	'QueueMaximumLength'
WHEN  DispositionID = 	'16'	THEN	'NoDisposition'
WHEN  DispositionID = 	'17'	THEN	'TransferModule'
WHEN  DispositionID = 	'18'	THEN	'NoAgents'
WHEN  DispositionID = 	'19'	THEN	'SLAExceeded'
WHEN  DispositionID = 	'20'	THEN	'FAX'
WHEN  DispositionID = 	'21'	THEN	'Silence'
WHEN  DispositionID = 	'22'	THEN	'SMSFailed'
WHEN  DispositionID = 	'23'	THEN	'SMSSent'
WHEN  DispositionID = 	'24'	THEN	'Out of Hours'
WHEN  DispositionID = 	'100'	THEN	'TELEFONE NAO ATENDE'
WHEN  DispositionID = 	'101'	THEN	'FONE NAO PERTENCE AO CLIENTE'
WHEN  DispositionID = 	'102'	THEN	'TELEFONE NAO EXISTE'
WHEN  DispositionID = 	'103'	THEN	'RECADO'
WHEN  DispositionID = 	'104'	THEN	'RECADO CAIXA POSTAL'
WHEN  DispositionID = 	'105'	THEN	'CLIENTE DESCONHECIDO'
WHEN  DispositionID = 	'106'	THEN	'CLIENTE DESCONHECE DIVIDA'
WHEN  DispositionID = 	'107'	THEN	'CLIENTE FALECIDO'
WHEN  DispositionID = 	'108'	THEN	'CLIENTE DESEMPREGADO'
WHEN  DispositionID = 	'109'	THEN	'CLIENTE NAO RECEBEU O CARNE'
WHEN  DispositionID = 	'110'	THEN	'CLIENTE NAO RECEBEU PARTE DA MERCADORIA'
WHEN  DispositionID = 	'111'	THEN	'CLIENTE ALEGA PAGAMENTO'
WHEN  DispositionID = 	'112'	THEN	'CLIENTE REGISTROU RECLAMACAO'
WHEN  DispositionID = 	'113'	THEN	'PROMESSA DE PAGAMENTO COM BOLETO'
WHEN  DispositionID = 	'114'	THEN	'CLIENTE NAO RECEBEU A MERCADORIA'
WHEN  DispositionID = 	'115'	THEN	'PREVISAO DE PAGAMENTO'
WHEN  DispositionID = 	'116'	THEN	'QUEDA DE LIGACAO'
WHEN  DispositionID = 	'117'	THEN	'COBRANCA SEM PPG'
WHEN  DispositionID = 	'118'	THEN	'CONFIRMACAO PROMESSA DE PAGAMENTO'
WHEN  DispositionID = 	'119'	THEN	'MENSAGEM DA OPERADORA'
WHEN  DispositionID = 	'120'	THEN	'TELEFONE MUDO'
WHEN  DispositionID = 	'121'	THEN	'AGENDAMENTO COM O CLIENTE'
WHEN  DispositionID = 	'122'	THEN	'AGENDAMENTO COM TERCEIROS'
WHEN  DispositionID = 	'123'	THEN	'TESTE ACAO'
WHEN  DispositionID = 	'124'	THEN	'teste'
WHEN  DispositionID = 	'125'	THEN	'TELEFONE SEMPRE OCUPADO'
WHEN  DispositionID = 	'126'	THEN	'TELEFONE DESLIGADO'
WHEN  DispositionID = 	'127'	THEN	'TELEFONE PROGRAMADO PARA NAO ATENDER'
WHEN  DispositionID = 	'128'	THEN	'TELEFONE CADASTRADO INCORRETAMENTE'
WHEN  DispositionID = 	'129'	THEN	'TELEFONES INVALIDOS'
WHEN  DispositionID = 	'130'	THEN	'RECEPTIVO - CLIENTE FALECIDO'
WHEN  DispositionID = 	'131'	THEN	'CLIENTE ALEGA PAGAMENTO A MAIS DE 4 DIAS'
WHEN  DispositionID = 	'132'	THEN	'RECEPTIVO - COBRANCA SEM PPG'
WHEN  DispositionID = 	'133'	THEN	'CLIENTE DOENTE'
WHEN  DispositionID = 	'134'	THEN	'RECEPTIVO - REVENDEDORA NAO RECEBEU A CAIXA'
WHEN  DispositionID = 	'135'	THEN	'RECEPTIVO - REVENDEDORA DEVOLVEU A CAIXA'
WHEN  DispositionID = 	'136'	THEN	'RECEPTIVO - CLIENTE DESCONHECE DIVIDA'
WHEN  DispositionID = 	'137'	THEN	'RECEPTIVO - REVENDEDORA NAO FEZ O PEDIDO'
WHEN  DispositionID = 	'138'	THEN	'REVENDEDORA NAO RECEBEU A CAIXA'
WHEN  DispositionID = 	'139'	THEN	'REVENDEDORA DEVOLVEU A CAIXA'
WHEN  DispositionID = 	'140'	THEN	'REVENDEDORA NAO FEZ O PEDIDO'
WHEN  DispositionID = 	'141'	THEN	'REVENDEDORA REALIZOU DEVOLUCAO PARCIAL'
WHEN  DispositionID = 	'142'	THEN	'CLIENTE NAO CONCORDA COM O SALDO COBRADO'
WHEN  DispositionID = 	'143'	THEN	'CLIENTE NAO CONCORDA COM OS ENCARGOS COBRADOS'
WHEN  DispositionID = 	'144'	THEN	'RECEPTIVO - REVENDEDORA RECEBEU CAIXA FALTANDO PRODUTO'
WHEN  DispositionID = 	'145'	THEN	'RECEPTIVO - REVENDEDORA REALIZOU DEVOLUCAO PARCIAL'
WHEN  DispositionID = 	'146'	THEN	'RECEPTIVO - CLIENTE NAO CONCORDA COM O SALDO COBRADO'
WHEN  DispositionID = 	'147'	THEN	'RECEPTIVO - CLIENTE NAO CONCORDA COM OS ENCARGOS COBRADOS'
WHEN  DispositionID = 	'148'	THEN	'RECEPTIVO - ALEGA ACAO JUDICIAL_PASSIVA OU ATIVA'
WHEN  DispositionID = 	'149'	THEN	'ALEGA ACAO JUDICIAL_PASSIVA OU ATIVA'
WHEN  DispositionID = 	'150'	THEN	'PROMESSA COM BOLETO A VISTA'
WHEN  DispositionID = 	'151'	THEN	'PROMESSA COM BOLETO PARCELADO'
WHEN  DispositionID = 	'152'	THEN	'PROMESSA DE PAGAMENTO NAO EFETUADO'
WHEN  DispositionID = 	'153'	THEN	'RECEPTIVO - PROMESSA COM BOLETO A VISTA'
WHEN  DispositionID = 	'154'	THEN	'RECEPTIVO - PROMESSA COM BOLETO PARCELADO'
WHEN  DispositionID = 	'155'	THEN	'RECEPTIVO - PROMESSA DE PAGAMENTO NAO EFETUADO'
WHEN  DispositionID = 	'156'	THEN	'CONFIRMACAO DE PROMESSA DE PAGAMENTO'
WHEN  DispositionID = 	'157'	THEN	'RECEPTIVO - CONFIRMACAO DE PROMESSA DE PAGAMENTO'
WHEN  DispositionID = 	'158'	THEN	'REVENDEDORA RECEBEU CAIXA FALTANDO PRODUTO'
WHEN  DispositionID = 	'159'	THEN	'TABULACAO_TESTE'
WHEN  DispositionID = 	'160'	THEN	'Teste_Agenda_Manual'
WHEN  DispositionID = 	'161'	THEN	'Teste_Agenda_Automatica'
WHEN  DispositionID = 	'162'	THEN	'LIGACAO CAIU_DESLIGOU'
WHEN  DispositionID = 	'163'	THEN	'RECEPTIVO - CLIENTE ALEGA PAGAMENTO'
WHEN  DispositionID = 	'164'	THEN	'RECEPTIVO - CLIENTE ALEGA PAGAMENTO A MAIS DE 4 DIAS'
WHEN  DispositionID = 	'165'	THEN	'RECEPTIVO - PREVISAO DE PAGAMENTO'
WHEN  DispositionID = 	'166'	THEN	'REENVIO DE BOLETO'
WHEN  DispositionID = 	'167'	THEN	'RECEPTIVO - REENVIO DE BOLETO '
WHEN  DispositionID = 	'168'	THEN	'PROPOSTA DE ACORDO ENVIADA PARA A AVON'
WHEN  DispositionID = 	'169'	THEN	'RECEPTIVO - AGENDAMENTO COM O CLIENTE'
WHEN  DispositionID = 	'170'	THEN	'ACAO DE SMS'
WHEN  DispositionID = 	'171'	THEN	'ACAO DE MALA DIRETA POR E-MAIL'
WHEN  DispositionID = 	'172'	THEN	'ACAO DE MALA DIRETA POR CORREIO'
WHEN  DispositionID = 	'173'	THEN	'ACAO DE URA'
WHEN  DispositionID = 	'174'	THEN	'ACAO DE MALA DIRETA POR SMS'
WHEN  DispositionID = 	'175'	THEN	'ACAO DE CARTA DE COBRANCA'
WHEN  DispositionID = 	'176'	THEN	'DIGITAL - ENVIO DE WHATSAPP'
WHEN  DispositionID = 	'177'	THEN	'DIGITAL - RETORNO DE WHATSAPP'
WHEN  DispositionID = 	'178'	THEN	'ACAO DE E-MAIL'
WHEN  DispositionID = 	'179'	THEN	'CLIENTE SEM PREVISAO DE PAGAMENTO'
WHEN  DispositionID = 	'180'	THEN	'TELEFONE NA CAIXA POSTAL'
WHEN  DispositionID = 	'181'	THEN	'TELEFONE COM SINAL DE FAX'
WHEN  DispositionID = 	'182'	THEN	'TELEFONE OCUPADO'
WHEN  DispositionID = 	'183'	THEN	'TELEAFONE PROG PARA NAO ATENDER'
WHEN  DispositionID = 	'184'	THEN	'ACAO JUDICIAL'
WHEN  DispositionID = 	'185'	THEN	'PAGAMENTO BAIXADO MANUALMENTE'
WHEN  DispositionID = 	'186'	THEN	'DEVOLUCAO DE CHEQUE'
WHEN  DispositionID = 	'187'	THEN	'OBSERVACOES GERAIS'
WHEN  DispositionID = 	'188'	THEN	'CLIENTE ALEGA FRAUDE'
WHEN  DispositionID = 	'189'	THEN	'RECEPTIVO - ALEGA ACAO JUDICIAL PASSIVA OU ATIVA'
WHEN  DispositionID = 	'190'	THEN	'WAY_ENVIADOAGENTE'
WHEN  DispositionID = 	'191'	THEN	'WAY_AGENDAMENTO'
WHEN  DispositionID = 	'192'	THEN	'WAY_DESCONHECEAPESSOA'
WHEN  DispositionID = 	'193'	THEN	'WAY_Cliente_Nao_Identificado'
WHEN  DispositionID = 	'194'	THEN	'RECEPTIVO - DEVOLUCAO DE CHEQUE'
WHEN  DispositionID = 	'195'	THEN	'PROMESSA DE PAGAMENTO PARCIAL'
WHEN  DispositionID = 	'196'	THEN	'PROMESSA DE PAGAMENTO AVON'
WHEN  DispositionID = 	'197'	THEN	'TABULACAO AUTOMATICA '
WHEN  DispositionID = 	'198'	THEN	'CONTRATO SEM DIVIDA'
WHEN  DispositionID = 	'199'	THEN	'TRANSFERENCIA-SAC AVON '
WHEN  DispositionID = 	'200'	THEN	'teste1'
WHEN  DispositionID = 	'201'	THEN	'TELEFONEMA RA'
WHEN  DispositionID = 	'202'	THEN	'TELEFONEMA EVA'
WHEN  DispositionID = 	'203'	THEN	'TELEFONE RECEPTIVO RA'
WHEN  DispositionID = 	'204'	THEN	'TELEFONEMA RECEPTIVO EVA'
WHEN  DispositionID = 	'205'	THEN	'TELEFONEMA GS'
WHEN  DispositionID = 	'206'	THEN	'TELEFONEMA RECEPTIVO GS'
WHEN  DispositionID = 	'207'	THEN	'RA NAO RECEBEU O BOLETO'
WHEN  DispositionID = 	'208'	THEN	'RA RECEBEU O BOLETO'
WHEN  DispositionID = 	'209'	THEN	'NAO COMPROU PERFUME'
WHEN  DispositionID = 	'210'	THEN	'PERDEU O PEDIDO'
WHEN  DispositionID = 	'211'	THEN	'PERDEU O BOLETO'
WHEN  DispositionID = 	'212'	THEN	'PEDIU PARA RETORNAR'
WHEN  DispositionID = 	'213'	THEN	'NAO RECEBEU O PERFUME'
WHEN  DispositionID = 	'214'	THEN	'LIGACAO CAIU_DESLIGOU_EVE DUET'
WHEN  DispositionID = 	'215'	THEN	'RECADO_EVE DUET'
WHEN  DispositionID = 	'216'	THEN	'CLIENTE DESCONHECE DIVIDA_EVE DUET'
WHEN  DispositionID = 	'217'	THEN	'FONE NAO PERTENCE AO CLIENTE_EVE DUET'
WHEN  DispositionID = 	'218'	THEN	'TELEFONE MUDO_EVE DUET'
WHEN  DispositionID = 	'219'	THEN	'TELEFONE NAO ATENDE_EVE DUET'
WHEN  DispositionID = 	'220'	THEN	'Digital_Iniciou o Fluxo'
WHEN  DispositionID = 	'221'	THEN	'Digital_E a pessoa'
WHEN  DispositionID = 	'222'	THEN	'Digital_Confirmou CPF'
WHEN  DispositionID = 	'223'	THEN	'Digital_Nao confirmou CPF'
WHEN  DispositionID = 	'224'	THEN	'Digital_Confirma pgto amanha'
WHEN  DispositionID = 	'225'	THEN	'Digital_Nao confirma pgto amanha'
WHEN  DispositionID = 	'226'	THEN	'Digital_Confirma pgto D3'
WHEN  DispositionID = 	'227'	THEN	'Digital_Nao confirma pgto D3'
WHEN  DispositionID = 	'228'	THEN	'Digital_Nao e a pessoa'
WHEN  DispositionID = 	'229'	THEN	'Digital_Conhece a pessoa'
WHEN  DispositionID = 	'230'	THEN	'Digital_Pede repeticao de numero'
WHEN  DispositionID = 	'231'	THEN	'Digital_Nao conhece a pessoa'
WHEN  DispositionID = 	'232'	THEN	'RECEPTIVO - CLIENTE ALEGA FRAUDE '
WHEN  DispositionID = 	'233'	THEN	'RECEPTIVO - PROMESSA DE PAGAMENTO'
WHEN  DispositionID = 	'234'	THEN	'RECEPTIVO - CONFIRMACAO DE BOLETO'
WHEN  DispositionID = 	'235'	THEN	'RECEPTIVO - CLIENTE COM ACORDO VIGENTE '
WHEN  DispositionID = 	'236'	THEN	'RECEPTIVO - RETORNO DE E-MAIL'
WHEN  DispositionID = 	'237'	THEN	'CLIENTE NAO CONFIRMA OS DADOS CADASTRAIS'
WHEN  DispositionID = 	'238'	THEN	'RECEPTIVO - CONTRATO SEM DIVIDA'
WHEN  DispositionID = 	'239'	THEN	'FINANCIAMENTO TERCEIRO'
WHEN  DispositionID = 	'240'	THEN	'CLIENTE SOLICITA REFINANCIAR O CONTRATO'
WHEN  DispositionID = 	'241'	THEN	'CELULAR DESLIGADO'
WHEN  DispositionID = 	'242'	THEN	'CONTRATO SEM TELEFONE'
WHEN  DispositionID = 	'243'	THEN	'PROPOSTA DE REFIN'
WHEN  DispositionID = 	'244'	THEN	'CLIENTE COM REFIN INICIADO EM OUTRA ASSESSORIA'
WHEN  DispositionID = 	'245'	THEN	'PROPOSTA DE ACORDO GERADA'
WHEN  DispositionID = 	'246'	THEN	'POTENCIAL RECLAMACAO'
WHEN  DispositionID = 	'247'	THEN	'ATENDENTE RECUSA PASSAR RECADO'
WHEN  DispositionID = 	'248'	THEN	'CLIENTE ALEGA PGTO PARCIAL'
WHEN  DispositionID = 	'249'	THEN	'CONTRATO ENVIADO P ANALISE INTERNA'
WHEN  DispositionID = 	'250'	THEN	'CONFIRMACAO DE PAGAMENTO COLCHAO DE ACORDO'
WHEN  DispositionID = 	'251'	THEN	'CONTRA PROPOSTA - PROPOSTA FORA DA POLITICA'
WHEN  DispositionID = 	'252'	THEN	'CLIENTE DESLIGOU'
WHEN  DispositionID = 	'253'	THEN	'SUSPEITA DE FRAUDE'
WHEN  DispositionID = 	'254'	THEN	'CLIENTE SOLICITOU RETORNO'
WHEN  DispositionID = 	'255'	THEN	'SEM TABULACAO'
WHEN  DispositionID = 	'256'	THEN	'TERCEIROS - RECEPTIVO - PREVISAO DE PAGAMENTO'
WHEN  DispositionID = 	'257'	THEN	'TERCEIROS - RECEPTIVO - COBRANCA SEM PPG'
WHEN  DispositionID = 	'258'	THEN	'TERCEIROS - PROMESSA DE PAGAMENTO NAO EFETUADO'
WHEN  DispositionID = 	'259'	THEN	'TERCEIROS - PREVISAO DE PAGAMENTO'
WHEN  DispositionID = 	'260'	THEN	'TERCEIROS - RECEPTIVO - CLIENTE NAO CONCORDA COM OS ENCARGOS COBRADOS'
WHEN  DispositionID = 	'261'	THEN	'TERCEIROS - RECEPTIVO - PROMESSA DE PAGAMENTO NAO EFETUADO'
WHEN  DispositionID = 	'262'	THEN	'TERCEIROS - COBRANCA SEM PPG'
WHEN  DispositionID = 	'263'	THEN	'TERCEIROS - CLIENTE DOENTE'
WHEN  DispositionID = 	'264'	THEN	'TERCEIROS - CLIENTE NAO CONCORDA COM OS ENCARGOS COBRADOS'
WHEN  DispositionID = 	'265'	THEN	'TERCEIROS - PROMESSA COM BOLETO A VISTA'
WHEN  DispositionID = 	'266'	THEN	'TERCEIROS - PROMESSA COM BOLETO PARCELADO'
WHEN  DispositionID = 	'267'	THEN	'TERCEIROS - RECEPTIVO - PROMESSA COM BOLETO A VISTA'
WHEN  DispositionID = 	'268'	THEN	'TERCEIROS - RECEPTIVO - PROMESSA COM BOLETO PARCELADO'
WHEN  DispositionID = 	'269'	THEN	'TERCEIROS - PROMESSA DE PAGAMENTO PARCIAL'
WHEN  DispositionID = 	'270'	THEN	'TERCEIROS - PROMESSA DE PAGAMENTO AVON'
WHEN  DispositionID = 	'271'	THEN	'TERCEIROS - CLIENTE NAO CONCORDA COM O SALDO COBRADO'
WHEN  DispositionID = 	'272'	THEN	'teste_vcom'
WHEN  DispositionID = 	'273'	THEN	'NAO CPC'
WHEN  DispositionID = 	'274'	THEN	'CPC COM ACORDO DE EXCECAO'
WHEN  DispositionID = 	'275'	THEN	'CPC SEM ACORDO'
WHEN  DispositionID = 	'276'	THEN	'CPC COM ACORDO'
WHEN  DispositionID = 	'277'	THEN	'NAO CPC COM AGENDAMENTO'
WHEN  DispositionID = 	'278'	THEN	'NAO CPC DESCONHECE CLIENTE'
WHEN  DispositionID = 	'279'	THEN	'CPC COM AGENDAMENTO'
WHEN  DispositionID = 	'280'	THEN	'OCORRENCIA NAO INFORMADA'
WHEN  DispositionID = 	'281'	THEN	'CPC COM ACORDO EXCECAO'
WHEN  DispositionID = 	'282'	THEN	'TERCEIROS - DIGITAL - RECEPTIVO - COBRANCA SEM PPG'
WHEN  DispositionID = 	'283'	THEN	'TERCEIROS - DIGITAL - RECEPTIVO - CLIENTE NAO CONCORDA COM OS ENCARGOS COBRADOS'
WHEN  DispositionID = 	'284'	THEN	'TERCEIROS - DIGITAL - PREVISAO DE PAGAMENTO'
WHEN  DispositionID = 	'285'	THEN	'TERCEIROS - DIGITAL - RECEPTIVO - PREVISAO DE PAGAMENTO'
WHEN  DispositionID = 	'286'	THEN	'TERCEIROS - DIGITAL - RECEPTIVO - PROMESSA DE PAGAMENTO NAO EFETUADO'
WHEN  DispositionID = 	'287'	THEN	'TERCEIROS - DIGITAL - COBRANCA SEM PPG'
WHEN  DispositionID = 	'288'	THEN	'TERCEIROS - DIGITAL - CLIENTE DOENTE'
WHEN  DispositionID = 	'289'	THEN	'TERCEIROS - DIGITAL - PROMESSA COM BOLETO A VISTA'
WHEN  DispositionID = 	'290'	THEN	'TERCEIROS - DIGITAL - PROMESSA COM BOLETO PARCELADO'
WHEN  DispositionID = 	'291'	THEN	'TERCEIROS - DIGITAL - PROMESSA DE PAGAMENTO PARCIAL'
WHEN  DispositionID = 	'292'	THEN	'TERCEIROS - DIGITAL - PROMESSA DE PAGAMENTO AVON'
WHEN  DispositionID = 	'293'	THEN	'TERCEIROS - DIGITAL - RECEPTIVO - PROMESSA COM BOLETO A VISTA'
WHEN  DispositionID = 	'294'	THEN	'TERCEIROS - DIGITAL - RECEPTIVO - PROMESSA COM BOLETO PARCELADO'
WHEN  DispositionID = 	'295'	THEN	'DIGITAL - REVENDEDORA DEVOLVEU A CAIXA'
WHEN  DispositionID = 	'296'	THEN	'DIGITAL - RECEPTIVO - PREVISAO DE PAGAMENTO'
WHEN  DispositionID = 	'297'	THEN	'DIGITAL - REENVIO DE BOLETO'
WHEN  DispositionID = 	'298'	THEN	'DIGITAL - RECEPTIVO - REVENDEDORA NAO RECEBEU A CAIXA'
WHEN  DispositionID = 	'299'	THEN	'DIGITAL - RECEPTIVO - REVENDEDORA NAO FEZ O PEDIDO'
WHEN  DispositionID = 	'300'	THEN	'DIGITAL - RECEPTIVO - REVENDEDORA RECEBEU CAIXA FALTANDO PRODUTO'
WHEN  DispositionID = 	'301'	THEN	'DIGITAL - RECEPTIVO - REVENDEDORA REALIZOU DEVOLUCAO PARCIAL'
WHEN  DispositionID = 	'302'	THEN	'DIGITAL - RECEPTIVO - PROMESSA COM BOLETO A VISTA'
WHEN  DispositionID = 	'303'	THEN	'DIGITAL - RECEPTIVO - CONFIRMACAO DE PROMESSA DE PAGAMENTO'
WHEN  DispositionID = 	'304'	THEN	'DIGITAL - PROMESSA DE PAGAMENTO AVON'
WHEN  DispositionID = 	'305'	THEN	'DIGITAL - PROMESSA COM BOLETO PARCELADO'
WHEN  DispositionID = 	'306'	THEN	'TELEFONE BLOQUEADO'
WHEN  DispositionID = 	'307'	THEN	'TELEFONE INEXISTENTE'
WHEN  DispositionID = 	'308'	THEN	'TELEFONE FORA DE AREA'
WHEN  DispositionID = 	'309'	THEN	'LIGACAO NAO COMPLETADA'
WHEN  DispositionID = 	'310'	THEN	'LIGACAO NAO ATENDE'
WHEN  DispositionID = 	'311'	THEN	'LIGACAO MUDA'
WHEN  DispositionID = 	'312'	THEN	'TELEFONE MUDOU'
WHEN  DispositionID = 	'313'	THEN	'QUEDA DE LIGACAO TERCEIRO'
WHEN  DispositionID = 	'314'	THEN	'OCORRENCIA MAQUINA'
WHEN  DispositionID = 	'315'	THEN	'CLIENTE NAO CONFIRMA DADOS'
WHEN  DispositionID = 	'316'	THEN	'CONTRATO DEVOLVIDO'
WHEN  DispositionID = 	'317'	THEN	'PREVENTIVO NEGATIVO'
WHEN  DispositionID = 	'318'	THEN	'QUEDA DE LIGACAO CLIENTE'
WHEN  DispositionID = 	'319'	THEN	'PROMESSA DE PAGAMENTO'
WHEN  DispositionID = 	'320'	THEN	'ALEGA PAGAMENTO'
WHEN  DispositionID = 	'321'	THEN	'PREVENTIVO POSITIVO'
WHEN  DispositionID = 	'322'	THEN	'ALEGA ACAO CONTRARIA'
WHEN  DispositionID = 	'323'	THEN	'NEGOCIACAO DE ENTREGA'
WHEN  DispositionID = 	'324'	THEN	'ANALISANDO VALOR'
WHEN  DispositionID = 	'325'	THEN	'PROPOSTA VALOR PARCIAL'
WHEN  DispositionID = 	'326'	THEN	'SEM PREVISAO DE PAGAMENTO'
WHEN  DispositionID = 	'327'	THEN	'DESCONHECE DIVIDA'
WHEN  DispositionID = 	'328'	THEN	'SEM CONTATO - CAIXA POSTAL'
WHEN  DispositionID = 	'329'	THEN	'SEM CONTATO - LIGACAO MUDA'
WHEN  DispositionID = 	'330'	THEN	'SEM CONTATO - MENSAGEM OPERADORA'
WHEN  DispositionID = 	'331'	THEN	'CONTATO - DESCONHECE CLIENTE'
WHEN  DispositionID = 	'332'	THEN	'CONTATO - CAIU A LINHA'
WHEN  DispositionID = 	'333'	THEN	'CONTATO - RECADO'
WHEN  DispositionID = 	'334'	THEN	'CONTATO - RETORNAR'
WHEN  DispositionID = 	'335'	THEN	'CONTATO - OUTROS'
WHEN  DispositionID = 	'336'	THEN	'CPC - PROMESSA COM DEVEDOR'
WHEN  DispositionID = 	'337'	THEN	'CPC - PROMESSA COM TERCEIRO'
WHEN  DispositionID = 	'338'	THEN	'CPC - ALEGA PAGAMENTO'
WHEN  DispositionID = 	'339'	THEN	'CPC - SE RECUSA A PAGAR'
WHEN  DispositionID = 	'340'	THEN	'CPC - PREVENTIVO QUEBRA'
WHEN  DispositionID = 	'341'	THEN	'CPC - CONTESTACAO'
WHEN  DispositionID = 	'342'	THEN	'CPC - FRAUDE'
WHEN  DispositionID = 	'343'	THEN	'CPC - JURIDICO'
WHEN  DispositionID = 	'344'	THEN	'CONTATO - OBITO - TRANSFERENCIA SAC'
WHEN  DispositionID = 	'345'	THEN	'RECEPTIVO - SEM CONTATO - CAIXA POSTAL'
WHEN  DispositionID = 	'346'	THEN	'RECEPTIVO - SEM CONTATO - LIGACAO MUDA'
WHEN  DispositionID = 	'347'	THEN	'RECEPTIVO - SEM CONTATO - MENSAGEM OPERADORA'
WHEN  DispositionID = 	'348'	THEN	'RECEPTIVO - CONTATO - DESCONHECE CLIENTE'
WHEN  DispositionID = 	'349'	THEN	'RECEPTIVO - CONTATO - CAIU A LINHA'
WHEN  DispositionID = 	'350'	THEN	'RECEPTIVO - CONTATO - RECADO'
WHEN  DispositionID = 	'351'	THEN	'RECEPTIVO - CONTATO - RETORNAR'
WHEN  DispositionID = 	'352'	THEN	'RECEPTIVO - CONTATO - OUTROS'
WHEN  DispositionID = 	'353'	THEN	'RECEPTIVO - CPC - PROMESSA COM DEVEDOR'
WHEN  DispositionID = 	'354'	THEN	'RECEPTIVO - CPC - PROMESSA COM TERCEIRO'
WHEN  DispositionID = 	'355'	THEN	'RECEPTIVO - CPC - ALEGA PAGAMENTO'
WHEN  DispositionID = 	'356'	THEN	'RECEPTIVO - CPC - PREVENTIVO QUEBRA'
WHEN  DispositionID = 	'357'	THEN	'RECEPTIVO - CPC - CONTESTACAO'
WHEN  DispositionID = 	'358'	THEN	'RECEPTIVO - CPC - FRAUDE'
WHEN  DispositionID = 	'359'	THEN	'RECEPTIVO - CPC - JURIDICO'
WHEN  DispositionID = 	'360'	THEN	'RECEPTIVO - CONTATO - OBITO - TRANSFERENCIA SAC'
WHEN  DispositionID = 	'361'	THEN	'RECEPTIVO - CPC - SE RECUSA A PAGAR'
WHEN  DispositionID = 	'362'	THEN	'PROMESSA DE PAGAMENTO COM TERCEIRO'
WHEN  DispositionID = 	'363'	THEN	'CPC COM TERCEIRO'
WHEN  DispositionID = 	'364'	THEN	'ACORDO EM ANDAMENTO'
WHEN  DispositionID = 	'365'	THEN	'AGUARDANDO APROVACAO FORA DE ALCADA BKO'
WHEN  DispositionID = 	'366'	THEN	'CLIENTE NAO LOCALIZADO BKO'
WHEN  DispositionID = 	'367'	THEN	'CONTATADO'
WHEN  DispositionID = 	'368'	THEN	'RECOMENDACAO DE AJUIZAMENTO BKO'
WHEN  DispositionID = 	'369'	THEN	'RECOMENDACAO DE LUCROS E PERDAS BKO'
WHEN  DispositionID = 	'370'	THEN	'RECUPERACAO JUDICIAL BKO'
WHEN  DispositionID = 	'371'	THEN	'SOLICITACAO DE NF COMPROVANTES ENTREGA BKO'
WHEN  DispositionID = 	'372'	THEN	'Executiva fez o pedido'
WHEN  DispositionID = 	'373'	THEN	'RA - Nao fez o pedido'
WHEN  DispositionID = 	'374'	THEN	'Desastres Naturais '
WHEN  DispositionID = 	'375'	THEN	'Doenca'
WHEN  DispositionID = 	'376'	THEN	'Falecimento '
WHEN  DispositionID = 	'377'	THEN	'Caixa com Excesso - Falta de produtos'
WHEN  DispositionID = 	'378'	THEN	'Nao quis realizar a pesquisa'
WHEN  DispositionID = 	'379'	THEN	'Descontrole Financeiro - Nao conseguiu vender'
WHEN  DispositionID = 	'380'	THEN	'Descontrole Financeiro - Vendeu e nao recebeu'
WHEN  DispositionID = 	'381'	THEN	'Descontrole Fnanceiro - Recebeu mas gastou o dinheiro'
WHEN  DispositionID = 	'382'	THEN	'Outros'
end as DESCR_TAB,
'TENTATIVAS' AS TENTA_,
CASE
	WHEN DispositionId in ('101',	'103',	'104',	'105',	'106',	'107',	'108',	'109',	'110',	'111',	'112',	'113',	'114',	'115',	'116',	'117',	'118',	'130',	'131',	'132',	
	'133',	'134',	'135',	'136',	'137',	'138',	'139',	'140',	'141',	'142',	'143',	'144',	'145',	'146',	'147',	'148',	'150',	'151',	'152',	'153',	'154',	'155',	'156',	
	'157',	'158',	'159',	'162',	'163',	'164',	'165',	'166',	'167',	'168',	'169',	'176',	'177',	'179',	'185',	'186',	'187',	'188',	'189',	'190',	'191',	'192',	'193',	
	'194',	'195',	'196',	'197',	'198',	'199',	'207',	'208',	'209',	'210',	'211',	'212',	'213',	'214',	'215',	'216',	'217',	'220',	'221',	'222',	'223',	'224',	'225',	
	'226',	'227',	'228',	'229',	'230',	'231',	'232',	'233',	'234',	'235',	'236',	'237',	'238',	'239',	'240',	'242',	'243',	'244',	'245',	'246',	'248',	'249',	'250',	
	'251',	'252',	'253',	'254',	'255',	'256',	'257',	'258',	'259',	'260',	'261',	'262',	'263',	'264',	'265',	'266',	'267',	'268',	'269',	'270',	'271',	'273',	'274',	
	'275',	'276',	'277',	'278',	'279',	'280',	'281',	'282',	'283',	'284',	'285',	'286',	'287',	'288',	'289',	'290',	'291',	'292',	'293',	'294',	'295',	'296',	'297',	
	'298',	'299',	'300',	'301',	'302',	'303',	'304',	'305',	'309',	'310',	'311',	'313',	'314',	'315',	'316',	'317',	'318',	'319',	'321',	'323',	'325',	'326',	'327',	
	'331',	'332',	'333',	'334',	'335',	'336',	'337',	'338',	'339',	'340',	'341',	'342',	'343',	'344',	'345',	'346',	'347',	'348',	'349',	'350',	'351',	'352',	'353',	
	'354',	'355',	'356',	'357',	'358',	'359',	'360',	'361',	'362',	'363',	'366',	'367',	'368',	'369',	'370',	'371',	'373',	'374',	'378',	'379',	'380',	'381') then 'ALO' ELSE '' END AS ALO_,
CASE
	WHEN DispositionId in ('274','275','276','279','281','336','337','338','339','340','341','342','343','363') THEN 'CPC' ELSE '' END AS CPC_,
AGENTID,
CASE
	WHEN AGENTID IS NULL THEN 'MÁQUINA' ELSE 'HUMANA' END  AS TIPO,
CAST(DATEDIFF(s, CALLSTART,CALLEND) AS FLOAT)/86400 AS TMA,
CASE
	WHEN MailingName LIKE '%AVON_FASE2_%' THEN 'FASE 2' 
	WHEN MailingName LIKE '%AVONFASE1_%' THEN 'FASE 1'  ELSE '' END AS MAILING,
CASE 
WHEN B.ATRASO < 8 THEN '08<'
WHEN B.ATRASO BETWEEN 8 AND 30 THEN '08 a 30'
WHEN B.ATRASO BETWEEN 31 AND 60 THEN '31 a 60'
WHEN B.ATRASO BETWEEN 61 AND 90 THEN '61 a 90'
WHEN B.ATRASO > 90 THEN '90<' END AS AGING_CLUSTER_2

INTO  ##DISC_GERAL
FROM [10.155.4.17].[EXPORTDATA].[DBO].CALLDATA A
LEFT JOIN LOCALCOB_DW..CARTEIRA_AVON_V3_DIA B ON A.CUSTOMERID = B.ID_CLIENTE
WHERE CUSTOMERID is NOT NULL
AND CONVERT(DATE, CallStart, 103) = CONVERT(DATE, GETDATE(), 103)
--AND CONVERT(DATE, B.DATA_BASE, 103) = CONVERT(DATE, CallStart, 103)


DELETE FROM ADCOBMIS01..AVON_DADOS_CONS_FUNIL
WHERE CONVERT(DATE, DATA, 103) = CONVERT(DATE, GETDATE(), 103)


INSERT INTO ADCOBMIS01..AVON_DADOS_CONS_FUNIL
SELECT  
*,
CAST(A.TENTATIVAS AS FLOAT)/cast(A.CONTAS AS FLOAT) AS SPIN  FROM 
(
SELECT
MAILING,
AGING_CLUSTER_2,
CONVERT(DATE, INICIO, 103) AS DATA,
COUNT(DISTINCT(EC)) AS CONTAS,
SUM(case when TENTA_ = 'TENTATIVAS' then 1 else 0 end) AS TENTATIVAS,
SUM(CASE WHEN (ALO_) = 'ALO' THEN 1 ELSE 0 END) AS ALO,
SUM(CASE WHEN (CPC_) = 'CPC' THEN 1 ELSE 0 END) AS CPC,
SUM(CASE WHEN (ALO_) = 'ALO' THEN TMA ELSE 0 END) AS TMA_ALO,
SUM(CASE WHEN (CPC_) = 'CPC' THEN TMA ELSE 0 END) AS TMA_CPC,
SUM(TMA) as TMA_geral 

FROM ##DISC_GERAL

GROUP BY CONVERT(DATE, INICIO, 103), AGING_CLUSTER_2, MAILING
)A



