--USE [ADCOBMIS01]
--GO
--/****** Object:  StoredProcedure [dbo].[SP_BASE_ED_ABRIL]    Script Date: 16/03/2020 10:07:45 ******/
--SET ANSI_NULLS ON
--GO
--SET QUOTED_IDENTIFIER ON
--GO
--ALTER PROCEDURE [dbo].[SP_BASE_ED_ABRIL]
--AS
--BEGIN

--IF OBJECT_ID('TEMPDB..##BASEX1') IS NOT NULL DROP TABLE ##BASEX1

SELECT
 A.GVP
,A.DATA_HISTÓRICO
,A.DESCRIAÇÃO_EVENTO
,A.USUÁRIO
,A.NOME
,A.TELEFONE
,A.[TRAB.]
,A.ALO_
,A.CPC_
,A.CPC_PROD_
,A.VENDA_
,A.REVISTA_ALVO
,A.IDADE_CLIENTE
,A.DExPARA
,A.SEMANA
,A.BASE2
,A.TIPO
--INTO ##BASEX1 
FROM
(
SELECT DISTINCT 
 A.NUMCONTRDIV AS GVP
,ROW_NUMBER()over(partition by A.NUMCONTRDIV order by A.NUMCONTRDIV) AS QTD_CTT
,CAST(A.DATHISTCOB AS DATE) AS DATA_HISTÓRICO
,CASE
	 WHEN A.CODEVNTCOBADM =  'C001' THEN 'TELEFONE  NÃO ATENDE'
	 WHEN A.CODEVNTCOBADM =  'C003' THEN 'TELEFONE SEMPRE OCUPADO'
	 WHEN A.CODEVNTCOBADM =  'C004' THEN 'SINAL DE FAX NO TEL. INFORMADO'
	 WHEN A.CODEVNTCOBADM =  'C020' THEN 'CLIENTE AUSENTE NO MOMENTO - LIGAR OUTRO HORÁRIO'
	 WHEN A.CODEVNTCOBADM =  'C022' THEN 'MUDOU-SE NÃO ENCONTRADO NO TELEFONE'
	 WHEN A.CODEVNTCOBADM =  'C026' THEN 'CLIENTE FALECIDO'
	 WHEN A.CODEVNTCOBADM =  'C029' THEN 'CLIENTE COM DIFICULDADE FINANCEIRA SEM PREV PAGTO'
	 WHEN A.CODEVNTCOBADM =  'C140' THEN 'TELEFONE CADASTRADO INCORRETAMENTE'
	 WHEN A.CODEVNTCOBADM =  'C186' THEN 'MENSAGEM DA OPERADORA'
	 WHEN A.CODEVNTCOBADM =  'C193' THEN 'AGENDAMENTO COM O CLIENTE'
	 WHEN A.CODEVNTCOBADM =  'C226' THEN 'CLIENTE NÃO CONFIRMA DADOS'
	 WHEN A.CODEVNTCOBADM =  'C309' THEN 'TELEFONIA - LIGAÇÃO MUDA'
	 WHEN A.CODEVNTCOBADM =  'C333' THEN 'TELEFONIA - CAIXA POSTAL'
	 WHEN A.CODEVNTCOBADM =  'C378' THEN 'VENDA'
	 WHEN A.CODEVNTCOBADM =  'C379' THEN 'REAGEDAMENTO AUTOMATICO TRANSF. CONSULTOR'
	 WHEN A.CODEVNTCOBADM =  'C382' THEN 'NÃO QUER RECEBER MAIS LIGAÇÕES'
	 WHEN A.CODEVNTCOBADM =  'C383' THEN 'SEM INTERESSE NO PRODUTO' 
	 WHEN A.CODEVNTCOBADM =  'C384' THEN 'EXCESSO DE ANÚNCIO'
	 WHEN A.CODEVNTCOBADM =  'C386' THEN 'CLIENTE JÁ FOI CONTATADO'
	 WHEN A.CODEVNTCOBADM =  'C387' THEN 'CLIENTE SÓ ENCONTRADO NO CELULAR'
	 WHEN A.CODEVNTCOBADM =  'C388' THEN 'PREFERE REVISTA DA CONCORRÊNCIA'
	 WHEN A.CODEVNTCOBADM =  'C389' THEN 'FALTA DE TEMPO PARA LEITURA'
	 WHEN A.CODEVNTCOBADM =  'C390' THEN 'SOLICITOU QUE O RETIRE DA BASE '
	 WHEN A.CODEVNTCOBADM =  'C391' THEN 'BANCO NÃO CONVENIADO/NÃO ACEITA BOLETO'
	 WHEN A.CODEVNTCOBADM =  'C393' THEN 'INSATISFEITO COM ENTREGA'
	 WHEN A.CODEVNTCOBADM =  'C394' THEN 'INSATISFEITO COM SAC'
	 WHEN A.CODEVNTCOBADM =  'C395' THEN 'PERDEU INTERESSE PELA REVISTA / MUDOU O PERFIL'
	 WHEN A.CODEVNTCOBADM =  'C396' THEN 'PROBLEMAS COM O RF'
	 WHEN A.CODEVNTCOBADM =  'C397' THEN 'CARTAO/DEBITO INDISPONIVEL'
	 WHEN A.CODEVNTCOBADM =  'C399' THEN 'PREFERE COMPRAR EM BANCAS'
	 WHEN A.CODEVNTCOBADM =  'C400' THEN 'TRANSFERÊNCIA'
	 WHEN A.CODEVNTCOBADM =  'C401' THEN 'DEFICIENTE VISUAL / AUDITIVO'
	 WHEN A.CODEVNTCOBADM =  'C402' THEN 'PESSOA JURIDICA'
	 WHEN A.CODEVNTCOBADM =  'C403' THEN 'RECUSOU-SE A ATENDER'
	 WHEN A.CODEVNTCOBADM =  'C404' THEN 'VIAJANDO'
	 WHEN A.CODEVNTCOBADM =  'C405' THEN 'DIFICIL CONTATO'
	 WHEN A.CODEVNTCOBADM =  'C195' THEN 'LIGAÇÃO CAIU/DESLIGOU'
	 WHEN A.CODEVNTCOBADM =  'C231' THEN 'CLIENTE DESLIGOU'
	 WHEN A.CODEVNTCOBADM =  'C138' THEN 'CELULAR DESLIGADO'
	 WHEN A.CODEVNTCOBADM =  'C139' THEN 'TELEFONE PROGRAMADO PARA NÃO ATENDER'
	 WHEN A.CODEVNTCOBADM =  'C009' THEN 'TELEFONE NÃO EXISTE'
	 WHEN A.CODEVNTCOBADM =  'C014' THEN 'RECADO CAIXA POSTAL' 
	 WHEN A.CODEVNTCOBADM =  'C024' THEN 'CLIENTE DESCONHECIDO' 
			END AS DESCRIAÇÃO_EVENTO
,A.CODUSERID AS USUÁRIO
,CASE
	WHEN B.NOME = 'VAGNER ACACIO PASCHOALETO RIBEIRO' THEN 'VAGNER ACACIO PASCHOALETTO RIBEIRO' 
	WHEN B.NOME = 'THAMIRIS DOS SANTOS MACEDO'		  THEN 'THAMIRIS DO SANTOS MACEDO'
	ELSE B. NOME END AS NOME
,A.NUMTELCONTHISTCOB AS TELEFONE
,'TRABALHADO' AS 'TRAB.'
,CASE
 WHEN A.CODEVNTCOBADM IN ('C193', 'C391', 'C397', 'C020', 'C029', 'C024', 'C231', 'C026', 
 'C386', '', 'C226', 'C387', 'C384', 'C389', 'C393', 'C394', '', '', 'C022', 
 'C382', 'C395', 'C402', 'C399', 'C388', 'C396', 'C403', 'C383', 'C390', 'C400', 'C407', 
 'C378', '', 'C404') THEN 'ALO' ELSE '' END AS ALO_
 ,CASE
 WHEN A.CODEVNTCOBADM IN ('C193', 'C391', 'C397', 'C029', 'C231', 'C386', 'C226',
  'C384', 'C389', 'C393', 'C394', '', '', 'C382', 'C395', 'C399', 'C388', 
  'C396', 'C383', 'C390', 'C407', 'C378', '' )THEN 'CPC' ELSE '' END AS CPC_
,CASE
 WHEN A.CODEVNTCOBADM IN ('C193','C391','C397', 'C029', 'C386', 'C226', 'C384', 
 'C389', 'C393', 'C394', 'C382', 'C395', 'C399', 'C388', 'C396', 'C383', 'C390','C378','C407')
 THEN 'CPC_PROD' ELSE '' END AS CPC_PROD_
,CASE
 WHEN A.CODEVNTCOBADM IN ('C378') THEN 'VENDA' ELSE '' END AS VENDA_
,D.NOMPROJETO AS REVISTA_ALVO
,DATEDIFF(YEAR,E.DATNASCCLI,CAST(GETDATE() AS DATE)) AS IDADE_CLIENTE
,CASE
	 WHEN A.CODEVNTCOBADM =  	'C001'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C003'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C004'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C020'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C022'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C026'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C029'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C140'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C186'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C193'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C226'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C309'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C333'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C378'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C379'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C382'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C383'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C384'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C386'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C387'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C388'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C389'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C390'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C391'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C393'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C394'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C395'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C396'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C397'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C399'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C400'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C401'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C402'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C403'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C404'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C405'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C195'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C231'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C138'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C139'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C009'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C014'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C024'	 THEN 	'ATENDEU'
		 ELSE 'NÃO ATENDEU' END AS 'DExPARA'
,CASE 
	WHEN CONVERT(DATE, A.DATHISTCOB,103) BETWEEN '2020-05-03' AND 	'2020-05-08' THEN	'SEMANA 1'
	WHEN CONVERT(DATE, A.DATHISTCOB,103) BETWEEN '2020-05-09' AND 	'2020-05-15' THEN	'SEMANA 2'
	WHEN CONVERT(DATE, A.DATHISTCOB,103) BETWEEN '2020-05-16' AND 	'2020-05-22' THEN	'SEMANA 3'
	WHEN CONVERT(DATE, A.DATHISTCOB,103) BETWEEN '2020-05-23' AND 	'2020-05-29' THEN	'SEMANA 4'
 ELSE '' END AS SEMANA
,F.[DETALHES PERFIL] AS BASE2 
,CASE
	WHEN LEN(A.NUMTELCONTHISTCOB) = 11 THEN 'CELULAR'
		ELSE 'FIXO' END AS TIPO
FROM       ADCOBDAT..CO030 A							With (Nolock)
INNER JOIN ADCOBDAT..VW_LOGINS B						With (Nolock) ON A.CODUSERID = B.LOGIN
INNER JOIN ADCOBDAT..CO002 C							With (Nolock) ON C.NUMCONTRDIV = A.NUMCONTRDIV
INNER JOIN ADCOBDAT..AU151 D							With (Nolock) ON D.NUMCONTRDIV = A.NUMCONTRDIV
LEFT  JOIN ADCOBDAT..CO001 E							With (Nolock) ON E.NUMCONTRDIV = A.NUMCONTRDIV
LEFT JOIN  ADCOBMIS01..Estratificacao_EDITORA_ABRIL F	With (NoLock) ON F.GVP = A.NUMCONTRDIV
WHERE    A.CODEMPRESA = 72001
AND CAST(A.DATHISTCOB AS DATE) BETWEEN '2020-05-14' AND '2020-05-14'
AND      A.CODEVNTCOBADM NOT IN ('C381', 'C392', 'C385', 'C380', 'C398')
GROUP BY
 A.NUMCONTRDIV 
 ,CAST(A.DATHISTCOB AS DATE)
,CASE
	 WHEN A.CODEVNTCOBADM =  'C001' THEN 'TELEFONE  NÃO ATENDE'
	 WHEN A.CODEVNTCOBADM =  'C003' THEN 'TELEFONE SEMPRE OCUPADO'
	 WHEN A.CODEVNTCOBADM =  'C004' THEN 'SINAL DE FAX NO TEL. INFORMADO'	
	 WHEN A.CODEVNTCOBADM =  'C020' THEN 'CLIENTE AUSENTE NO MOMENTO - LIGAR OUTRO HORÁRIO'
	 WHEN A.CODEVNTCOBADM =  'C022' THEN 'MUDOU-SE NÃO ENCONTRADO NO TELEFONE'
	 WHEN A.CODEVNTCOBADM =  'C026' THEN 'CLIENTE FALECIDO'
	 WHEN A.CODEVNTCOBADM =  'C029' THEN 'CLIENTE COM DIFICULDADE FINANCEIRA SEM PREV PAGTO'
	 WHEN A.CODEVNTCOBADM =  'C140' THEN 'TELEFONE CADASTRADO INCORRETAMENTE'
	 WHEN A.CODEVNTCOBADM =  'C186' THEN 'MENSAGEM DA OPERADORA'
	 WHEN A.CODEVNTCOBADM =  'C193' THEN 'AGENDAMENTO COM O CLIENTE'
	 WHEN A.CODEVNTCOBADM =  'C226' THEN 'CLIENTE NÃO CONFIRMA DADOS'
	 WHEN A.CODEVNTCOBADM =  'C309' THEN 'TELEFONIA - LIGAÇÃO MUDA'
	 WHEN A.CODEVNTCOBADM =  'C333' THEN 'TELEFONIA - CAIXA POSTAL'
	 WHEN A.CODEVNTCOBADM =  'C378' THEN 'VENDA'
	 WHEN A.CODEVNTCOBADM =  'C379' THEN 'REAGEDAMENTO AUTOMATICO TRANSF. CONSULTOR'
	 WHEN A.CODEVNTCOBADM =  'C382' THEN 'NÃO QUER RECEBER MAIS LIGAÇÕES'
	 WHEN A.CODEVNTCOBADM =  'C383' THEN 'SEM INTERESSE NO PRODUTO' 
	 WHEN A.CODEVNTCOBADM =  'C384' THEN 'EXCESSO DE ANÚNCIO'
	 WHEN A.CODEVNTCOBADM =  'C386' THEN 'CLIENTE JÁ FOI CONTATADO'
	 WHEN A.CODEVNTCOBADM =  'C387' THEN 'CLIENTE SÓ ENCONTRADO NO CELULAR'
	 WHEN A.CODEVNTCOBADM =  'C388' THEN 'PREFERE REVISTA DA CONCORRÊNCIA'
	 WHEN A.CODEVNTCOBADM =  'C389' THEN 'FALTA DE TEMPO PARA LEITURA'
	 WHEN A.CODEVNTCOBADM =  'C390' THEN 'SOLICITOU QUE O RETIRE DA BASE '
	 WHEN A.CODEVNTCOBADM =  'C391' THEN 'BANCO NÃO CONVENIADO/NÃO ACEITA BOLETO'
	 WHEN A.CODEVNTCOBADM =  'C393' THEN 'INSATISFEITO COM ENTREGA'
	 WHEN A.CODEVNTCOBADM =  'C394' THEN 'INSATISFEITO COM SAC'
	 WHEN A.CODEVNTCOBADM =  'C395' THEN 'PERDEU INTERESSE PELA REVISTA / MUDOU O PERFIL'
	 WHEN A.CODEVNTCOBADM =  'C396' THEN 'PROBLEMAS COM O RF'
	 WHEN A.CODEVNTCOBADM =  'C397' THEN 'CARTAO/DEBITO INDISPONIVEL'
	 WHEN A.CODEVNTCOBADM =  'C399' THEN 'PREFERE COMPRAR EM BANCAS'
	 WHEN A.CODEVNTCOBADM =  'C400' THEN 'TRANSFERÊNCIA'
	 WHEN A.CODEVNTCOBADM =  'C401' THEN 'DEFICIENTE VISUAL / AUDITIVO'
	 WHEN A.CODEVNTCOBADM =  'C402' THEN 'PESSOA JURIDICA'
	 WHEN A.CODEVNTCOBADM =  'C403' THEN 'RECUSOU-SE A ATENDER'
	 WHEN A.CODEVNTCOBADM =  'C404' THEN 'VIAJANDO'
	 WHEN A.CODEVNTCOBADM =  'C405' THEN 'DIFICIL CONTATO'
	 WHEN A.CODEVNTCOBADM =  'C195' THEN 'LIGAÇÃO CAIU/DESLIGOU'
	 WHEN A.CODEVNTCOBADM =  'C231' THEN 'CLIENTE DESLIGOU'
	 WHEN A.CODEVNTCOBADM =  'C138' THEN 'CELULAR DESLIGADO'
	 WHEN A.CODEVNTCOBADM =  'C139' THEN 'TELEFONE PROGRAMADO PARA NÃO ATENDER'
	 WHEN A.CODEVNTCOBADM =  'C009' THEN 'TELEFONE NÃO EXISTE'
	 WHEN A.CODEVNTCOBADM =  'C014' THEN 'RECADO CAIXA POSTAL' 
	 WHEN A.CODEVNTCOBADM =  'C024' THEN 'CLIENTE DESCONHECIDO' 
			END
,A.CODUSERID

,CASE
	WHEN B.NOME = 'VAGNER ACACIO PASCHOALETO RIBEIRO' THEN 'VAGNER ACACIO PASCHOALETTO RIBEIRO' 
	WHEN B.NOME = 'THAMIRIS DOS SANTOS MACEDO'		  THEN 'THAMIRIS DO SANTOS MACEDO'
	ELSE B.NOME END
,A.NUMTELCONTHISTCOB
,CASE
 WHEN A.CODEVNTCOBADM IN ('C193', 'C391', 'C397', 'C020', 'C029', 'C024', 'C231', 'C026', 
 'C386', '', 'C226', 'C387', 'C384', 'C389', 'C393', 'C394', '', '', 'C022', 
 'C382', 'C395', 'C402', 'C399', 'C388', 'C396', 'C403', 'C383', 'C390', 'C400', 'C407', 
 'C378', '', 'C404') THEN 'ALO' ELSE '' END
 
 ,CASE
 WHEN A.CODEVNTCOBADM IN ('C193', 'C391', 'C397', 'C029', 'C231', 'C386', 'C226',
  'C384', 'C389', 'C393', 'C394', '', '', 'C382', 'C395', 'C399', 'C388', 
  'C396', 'C383', 'C390', 'C407', 'C378', '' )THEN 'CPC' ELSE '' END
 
,CASE
 WHEN A.CODEVNTCOBADM IN ('C193','C391','C397', 'C029', 'C386', 'C226', 'C384', 
 'C389', 'C393', 'C394', 'C382', 'C395', 'C399', 'C388', 'C396', 'C383', 'C390','C378','C407')
 THEN 'CPC_PROD' ELSE '' END
,CASE
 WHEN A.CODEVNTCOBADM IN ('C378') THEN 'VENDA' ELSE '' END
 
,D.NOMPROJETO
,DATEDIFF(YEAR,E.DATNASCCLI,CAST(GETDATE() AS DATE))

,CASE
	 WHEN A.CODEVNTCOBADM =  	'C001'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C003'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C004'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C020'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C022'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C026'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C029'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C140'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C186'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C193'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C226'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C309'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C333'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C378'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C379'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C382'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C383'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C384'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C386'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C387'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C388'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C389'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C390'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C391'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C393'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C394'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C395'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C396'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C397'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C399'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C400'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C401'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C402'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C403'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C404'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C405'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C195'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C231'	 THEN 	'ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C138'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C139'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C009'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C014'	 THEN 	'NÃO ATENDEU'
	 WHEN A.CODEVNTCOBADM =  	'C024'	 THEN 	'ATENDEU'
		 ELSE 'NÃO ATENDEU' END
,CASE 
	WHEN CONVERT(DATE, A.DATHISTCOB,103) BETWEEN '2020-05-03' AND 	'2020-05-08' THEN	'SEMANA 1'
	WHEN CONVERT(DATE, A.DATHISTCOB,103) BETWEEN '2020-05-09' AND 	'2020-05-15' THEN	'SEMANA 2'
	WHEN CONVERT(DATE, A.DATHISTCOB,103) BETWEEN '2020-05-16' AND 	'2020-05-22' THEN	'SEMANA 3'
	WHEN CONVERT(DATE, A.DATHISTCOB,103) BETWEEN '2020-05-23' AND 	'2020-05-29' THEN	'SEMANA 4'
	ELSE '' END  
,F.[DETALHES PERFIL]
,CASE
	WHEN LEN(A.NUMTELCONTHISTCOB) = 11 THEN 'CELULAR'
		ELSE 'FIXO' END
)A
WHERE A.QTD_CTT = 1

/*===========================================================*/ 


--DECLARE @BCPSQL_INA VARCHAR(2000),
--@BCPFILENAME_INA VARCHAR(200)
--SET @BCPFILENAME_INA = '\\10.155.4.51\itf_in\ED_ABRIL\TABULACOES\BASE\Base_ED_Abril'+'_'+REPLACE((CONVERT(VARCHAR,CONVERT(DATE,(GETDATE())))),'-','')+'.csv'
--SET @BCPSQL_INA = 'SELECT * FROM ##BASEX1'
--SET @BCPSQL_INA = 'BCP "' + @BCPSQL_INA + '" QUERYOUT ' + @BCPFILENAME_INA + ' -c -t; -r\n -CP850 -T -Slocalhost'
--PRINT @BCPSQL_INA 

--DECLARE @RC_INA VARCHAR(100)
--EXEC @RC_INA = MASTER..XP_CMDSHELL @BCPSQL_INA

----END